.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
}

.row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b3dee4;
  padding: 10px;
}

.row:nth-child(odd) {
  background-color: #e6e6e6;
}

.col {
  flex: 1;
  text-align: center;
}

.col2{
  margin-right: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
